<!-- start custom head snippets -->

<!-- define Content Security Policy and Referrer Policy -->
<META HTTP-EQUIV='Content-Security-Policy' CONTENT="default-src 'none'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self'; media-src 'self'; frame-src 'self'; font-src 'self'; base-uri 'self'; form-action 'none';">

<META HTTP-EQUIV='Referrer-Policy' CONTENT="no-referrer">

<!-- define favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/website/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/website/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/website/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/website/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/website/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/website/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/website/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
  
<!-- end custom head snippets -->
