---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Hintergrund weiss, auch im Footer
$background-color: #fff;
$footer-background-color: #fff;

// Schriftgroesse h1 Header
$h-size-1: 1em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Seitentitel im Masthead nicht fett schreiben
.site-title {
  font-weight: normal;
}

// Footer zentrieren
.page__footer {
  text-align: center;
}

// Schriftfarbe Title
.page__title {
  color: #a0522d;
}
