---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Farben setzen
$background-color: #fff;
$footer-background-color: #fff;
$custom-color: #a0522d;
$link-color-hover: $custom-color;


// Schriftgroesse h1 Header
$h-size-1: 1em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Seitentitel im Masthead nicht fett schreiben
.site-title {
  font-weight: normal;
}

// Footer zentrieren
.page__footer {
  text-align: center;
}

// Schriftfarbe Title
.page__title {
  color: $custom-color;
}

// custom notice box
.notice--custom {
  @include notice($custom-color);
}

// Fonts in der Sidebar
.nav__sub-title {
  font-size: 1.2em;
  font-weight: normal;
  text-transform: none;
  margin: 0 0;
  padding: 0 0;
  color: $custom-color;
}

// Schriftfarbe Links
.page__content {
  a {
    color: $custom-color;
  }
}

// kein Rand unterhalb der Header Grafik, dafuer unter der Navigationsleiste
.page__hero {
  margin-bottom: 0;
}
.masthead {
  margin-bottom: 1em;
}

// Home in der Navigationsleiste ebenfalls dynamisch unterstreichen
.site-title {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: $primary-color;
    width: 100%;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0); // hide
  }
  
  &:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); // reveal
  }
}
